<section class="phx-hero">
  <h1><%= gettext "Bem vindo ao %{name}!", name: "Financial App" %></h1>
  <p style="font-size: 1.5em">Registre suas despesas e receitas</p>
</section>

<section class="phx-hero">
  <%= if @current_user do %>

  <% else %>
    
  <% end %>
</section>
