<li>
  <%= if @current_user do %>
    
    <li><%= @current_user.email %></li>
    <li><%= link "Configurações", to: Routes.user_settings_path(@conn, :edit) %></li>
    <li><%= link "Sair da conta", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>

  <% else %>
    <li><%= link "Cadastrar-se", to: Routes.user_registration_path(@conn, :new) %></li>
    <li><%= link "Login", to: Routes.user_session_path(@conn, :new) %></li>
  <% end %>

</li>
