<h1> Editar Receita</h1>

<%= form_for @changeset, Routes.receita_path(@conn, :update, id: @receita_id), fn f -> %>

<div class="form-group">
    <%= text_input f, :name, placeholder: "Nome da receita", class: "form-control" %>
    <%= error_tag f, :name %>
</div>

<div class="form-group">
    <%= text_input f, :valor, placeholder: "Valor", class: "form-control" %>
    <%= error_tag f, :valor %>
</div>

<%= submit "Salvar" %>

<% end %>
